[submodule "cangjie_runtime"]
	path = cangjie_runtime
	url = https://gitcode.com/Cangjie/cangjie_runtime.git
	branch = main
[submodule "cangjie_tools"]
	path = cangjie_tools
	url = https://gitcode.com/Cangjie/cangjie_tools.git
	branch = main
[submodule "cangjie_stdx"]
	path = cangjie_stdx
	url = https://gitcode.com/Cangjie/cangjie_stdx.git
	branch = main
